* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
    width: 100%;

}


.alert {
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.alert.success {
    background-color: #28a745;
    color: white;
}

.alert.error {
    background-color: #dc3545;
    color: white;
}

.alert.show {
    display: block;
}

.alert2 {
    padding: 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.alert2.success {
    background-color: #28a745;
    color: white;
}

.alert2.error {
    background-color: #dc3545;
    color: white;
}

.alert2.show {
    display: block;
}

.login h2 {
    font-size: 2.1em;
    color: #fff;
    padding-bottom: 10px;
}

.login .input8x {
    position: relative;
    width: 100%;
}

.login .input8x input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 1.2em;
    color: #fff;
    box-shadow: none;
    outline: none;
}


.login {
    position: absolute;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.login .input8x input[type="button"] {
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #ff357a, #fff172);
    border: none;
    cursor: pointer;
}

.login .input8x input::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    margin-left: 5px;

}

.login .links a {
    color: #fff;
    text-decoration: none;
}

.links p {
    color: rgb(145, 145, 145);
}